<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="site-title"><a href="/">Blog</a></h1>
        <div class="header_nav">
          <div class="user_nav">
            <%= link_to "SignIn", new_user_session_path, class: "post" %>
            <%= link_to "SignOut", destroy_user_session_path, method: :delete, class: "post" %>
            
            <% if user_signed_in? %>
              <%= link_to "New", new_article_path %>
            <% else %>
              <%= link_to "SignUp", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
